.header {

  .header-inner {
    width: 1200px;

    @media (min-width: 1800px) {
      width: 1600px;
    }

    margin: 0 auto;
    padding: 25px 18px;
    overflow: hidden;

    .header-inner-left {
      float: left;
      height: 32px;
      line-height: 32px;
      font-size: 32px;
      font-weight: 500;
    }

    .header-inner-right {
      float: right;
      height: 32px;

      &.tags-list {
        display: flex;
        align-items: center;

        .tag {
          a {
            display: inline-block;
            padding: 8px 14px;

            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}